button{
  background-color: #CC0000;
  border: none;
  width: 100px;
  height: 50px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12pt;
}

button:hover {
  background-color: #800000;
  color: white;
  width: 105px;
  height: 55px;
  border-right: 5px solid #bf4040;
  border-bottom: 5px solid #bf4040;
}
