@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Spectral:300,400,700&display=swap');

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1em;
}

h1,h2{
  font-family: Spectral;
  font-weight: bold;
}

.axisLabel{
  font-style: ;
  font-family: Source Sans Pro;
  font-weight: 300;
}

button{
  background-color: #CC0000;
  border: none;
  width: 80px;
  height: 30px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10pt;
}

button:hover {
  background-color: #800000;
  color: white;
  width: 90px;
  height: 35px;
  border-right: 5px solid #bf4040;
  border-bottom: 5px solid #bf4040;
}
